    .favorites-container {
        max-width: 100%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        min-height: 150px;
    }

    .card-content {
        width: 100%;
        height: 100%;
    }

    .product-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .product-details {
        flex-grow: 1;
        padding: 15px;
    }

    .product-details h3 {
        font-size: 18px;
        margin: 0 0 10px 0;
    }

    .product-details .price {
        font-size: 16px;
        color: #007bff;
        margin: 10px 0 5px;
    }

    .product-details .shop-info {
        font-size: 14px;
        color: #666;
    }

    @media (max-width: 600px) {
        .product-card {
        flex-direction: column;
        align-items: flex-start;
        }

        .product-details h3 {
        font-size: 16px;
        }

        .product-details .price {
        font-size: 14px;
        }

        .product-details .shop-info {
        font-size: 12px;
        }
    }

    .productcontainer{
        cursor: pointer;
    }
