// =================================
//    change language | country
// =================================
.change__lang {
    position: relative;
    margin-top: 20px;
}
.change__lang-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
}
.change__lang-btn img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}
.change__lang-btn span {
    color: #4e5d78;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: color 0.4s ease;
}
.change__lang-btn svg {
    width: 14px;
    height: auto;
    fill: #4e5d78;
    margin-left: 2px;
    margin-top: 2px;
    transition: 0.4s ease;
    transition-property: transform, fill;
}
.change__lang-btn:hover span {
    color: #189cf4;
}
.change__lang-btn:hover svg {
    fill: #189cf4;
}
.change__lang-btn[aria-expanded="true"] span {
    color: #189cf4;
}
.change__lang-btn[aria-expanded="true"] svg {
    fill: #189cf4;
    transform: rotate(180deg);
}
.change__lang-dropdown {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    top: 0;
    border-radius: 20px;
    padding: 16px;
    min-width: 120px;
    transition: opacity 0.4s ease;
    height: auto;
    background: linear-gradient(1turn, #f1f6fd 30%, #edf1f7);
    box-shadow: 3px 3px 9px rgba(164, 164, 186, 0.2);
    border: 1px solid #fff;
}
.change__lang-dropdown li {
    width: 100%;
    margin-bottom: 15px;
}
.change__lang-dropdown li:last-child {
    margin-bottom: 0;
}
.change__lang-dropdown a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.change__lang-dropdown a img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}
.change__lang-dropdown a span {
    color: #4e5d78;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: color 0.5s ease;
}
.change__lang-dropdown a:hover span {
    color: #189cf4;
}
.change__lang-dropdown.show {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
}