<!-- slider -->

<p-sidebar [(visible)]="sidebarVisible">
    <div>
        <div class="mb-3">
            <p-checkbox
                inputId="ny"
                [value]="'d'"
                (onChange)="isSponserChecked=true;

                sponser = !sponser;
                getAllSearchRes({
                            searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,


                        })"
            />
            <label for="ny" class="ps-2">Sponsered</label>
        </div>
        <p-divider />
        <div class="search-filter bg-white">
            <p-dropdown
                [formControl]="selectedCategory"
                [options]="categoryOptions"
                optionLabel="name_Global"
                placeholder="Category"
                (onChange)="
                        getAllSubcategory();
                        getAllBrands();
                        getAllSearchRes({
                            searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,

                        })
                    "
            />
        </div>
        <p-divider />
        <div class="search-filter bg-white">
            <p-dropdown
                [ngClass]="{ 'd-none': !selectedCategory.value }"
                [formControl]="selectedSubCategory"
                [options]="subCategoryOptions"
                optionLabel="name_Global"
                placeholder="Subcategory"
                (onChange)="
                        getAllSearchRes({
                            searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,

                        })
                    "
            />
        </div>
        <p-divider />
        <div class="search-filter bg-white">
            <p-multiSelect
                [options]="brandsOptions"
                [formControl]="selectedBrand"
                placeholder="Brands"
                optionLabel="name_Global"
                showHeader="false"
                [ngClass]="{ 'd-none': !selectedCategory.value }"
                (onChange)="getAllSearchRes({
                          searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,
                    })"
            />
        </div>
        <p-divider />
        <div class="search-filter bg-white">
            <p-multiSelect
                [options]="domainOptions"
                [formControl]="selectedDomain"
                placeholder="Domain"
                showHeader="false"
                optionLabel="name_Global"
                (onChange)="
                        getAllSearchRes({
                            searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,

                        })
                    "
            />
        </div>
        <p-divider />

        <div class="search-filter bg-white">
            <p-dropdown
                [formControl]="selectedSort"
                [options]="sortOptions"
                optionLabel="name"
                placeholder="Sort By"
                (onChange)="
                        getAllSearchRes({
                            searchParam: searchValue,
                            isFeatured: isSponserChecked?sponser:null,
                            minPrice: rangeValues?.value?.[0] ?? null ,
                            maxPrice: rangeValues?.value?.[1] ?? null,
                            categoryID: selectedCategory?.value['id'] ?? null,
                            sortedBy: selectedSort?.value['value'] ?? null,
                            domainID: selectedDomain?.value ?? null,
                            subCatId: selectedSubCategory?.value['id'] ?? null,
                            brandId: selectedBrand?.value ?? null,
                            pageNumber:pageNumber,
                            pageSize:10,

                        })
                    "
            />
        </div>
        <p-divider />

        <div class="search-filter bg-white overflow-hidden mt-4">
            <p-slider
                [formControl]="rangeValues"
                [range]="true"
                styleClass="m-2"
                min="0"
                max="10000"
            />
            <div
                class="d-flex mt-3 justify-content-between gap-2 align-items-center flex-column"
            >
                <div class="d-flex gap-2">
                    <input
                        type="text"
                        min="1000"
                        max="10000"
                        class="w-100"
                        type="number"
                        [(ngModel)]="rangeValues.value[0]"
                        (ngModelChange)="updateSlider($event, 0)"
                        placeholder="min price"
                    />
                    <input
                        type="text"
                        min="1000"
                        max="10000"
                        class="w-100"
                        type="number"
                        placeholder="max price"
                        [(ngModel)]="rangeValues.value[1]"
                        (ngModelChange)="updateSlider($event, 1)"
                    />
                </div>
                <button
                    class="btn btn-sm btn-outline-success flex-grow-1 d-block w-75"
                    (click)="
                    getAllSearchRes({
                        searchParam: searchValue,
                    isFeatured: isSponserChecked?sponser:null,
                    minPrice: rangeValues?.value?.[0] ?? null ,
                    maxPrice: rangeValues?.value?.[1] ?? null,
                    categoryID: selectedCategory?.value['id'] ?? null,
                    sortedBy: selectedSort?.value['value'] ?? null,
                    domainID: selectedDomain?.value ?? null,
                    subCatId: selectedSubCategory?.value['id'] ?? null,
                    brandId: selectedBrand?.value ?? null,
                    pageNumber:pageNumber,
                    pageSize:10,

                    })
                "
                >
                    <p class="d-inline-block m-0 fs-5">Search</p>
                    <i
                        class="pi pi-search"
                        style="font-size: 1.3rem; cursor: pointer"
                    ></i>
                </button>
            </div>
        </div>
        <p-divider />
        <div class="card">
            <div class="d-flex justify-content-between">
                <h5>Google Ads</h5>
            </div>
            <div class="p-fluid">
                <ins
                    class="adsbygoogle"
                    style="display: block"
                    data-ad-client="ca-pub-3940256099942544"
                    data-ad-slot="8320222746"
                    data-ad-format="auto"
                    data-full-width-responsive="true"
                ></ins>
                <img
                    src="https://images.raidboxes.io/raidboxes.io/uploads/2021/01/Google-Kampagne-raidboxes.png"
                    alt="Google Ads"
                    class="p-1"
                    style="width: 100%; height: 300px; display: block"
                />
            </div>
        </div>
    </div>
</p-sidebar>

<p-button
    (click)="sidebarVisible = true"
    icon="pi pi-arrow-right"
    class="d-md-none"
/>
<!-- slider -->
<!-- ///////////////////////////////////////////////////// -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-2 col-md-3 d-none d-md-block">
            <div class="mb-3">
                <p-checkbox
                    inputId="ny"
                    [value]="'d'"
                    (onChange)="isSponserChecked=true;
                    sponser = !sponser;
                    getAllSearchRes({
                                searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,

                            })"
                />
                <label for="ny" class="ps-2">Sponsered</label>
            </div>
            <p-divider />
            <div class="search-filter bg-white">
                <p-dropdown
                    [formControl]="selectedCategory"
                    [options]="categoryOptions"
                    optionLabel="name_Global"
                    placeholder="Category"
                    (onChange)="
                            getAllSubcategory();
                            getAllBrands();
                            getAllSearchRes({
                                searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,

                            })
                        "
                />
            </div>
            <p-divider />
            <div class="search-filter bg-white">
                <p-dropdown
                    [formControl]="selectedSubCategory"
                    [options]="subCategoryOptions"
                    optionLabel="name_Global"
                    placeholder="Subcategory"
                    (onChange)="
                            getAllSearchRes({
                                searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,

                            })
                        "
                />
            </div>
            <p-divider />
            <div class="search-filter bg-white">
                <p-multiSelect
                    [options]="brandsOptions"
                    [formControl]="selectedBrand"
                    placeholder="Brands"
                    optionLabel="name_Global"
                    showHeader="false"
                    (onChange)="getAllSearchRes({
                              searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,
                        })"
                />
            </div>
            <p-divider />
            <div class="search-filter bg-white">
                <p-multiSelect
                    [options]="domainOptions"
                    [formControl]="selectedDomain"
                    placeholder="Domain"
                    showHeader="false"
                    optionLabel="name_Global"
                    (onChange)="
                            getAllSearchRes({
                                searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,

                            })
                        "
                />
            </div>
            <p-divider />

            <div class="search-filter bg-white">
                <p-dropdown
                    [formControl]="selectedSort"
                    [options]="sortOptions"
                    optionLabel="name"
                    placeholder="Sort By"
                    (onChange)="
                            getAllSearchRes({
                                searchParam: searchValue,
                                isFeatured: isSponserChecked?sponser:null,
                                minPrice: rangeValues?.value?.[0] ?? null ,
                                maxPrice: rangeValues?.value?.[1] ?? null,
                                categoryID: selectedCategory?.value['id'] ?? null,
                                sortedBy: selectedSort?.value['value'] ?? null,
                                domainID: selectedDomain?.value ?? null,
                                subCatId: selectedSubCategory?.value['id'] ?? null,
                                brandId: selectedBrand?.value ?? null,
                                pageNumber:pageNumber,
                                pageSize:10,

                            })
                        "
                />
            </div>
            <p-divider />

            <div class="search-filter bg-white overflow-hidden mt-4">
                <p-slider
                    [formControl]="rangeValues"
                    [range]="true"
                    styleClass="m-2"
                    min="0"
                    [max]="searchResult?.mostMaxPrice"
                />
                <div
                    class="d-flex mt-3 justify-content-between gap-2 align-items-center flex-column"
                >
                    <div class="d-flex gap-2">
                        <input
                            type="text"

                            class="w-100"
                            type="number"
                            [(ngModel)]="rangeValues.value[0]"
                            (ngModelChange)="updateSlider($event, 0)"
                            placeholder="min price"
                        />
                        <input
                            type="text"

                            [max]="searchResult?.mostMaxPrice"
                            class="w-100"
                            type="number"
                            placeholder="max price"
                            [(ngModel)]="rangeValues.value[1]"
                            (ngModelChange)="updateSlider($event, 1)"
                        />
                    </div>
                    <button
                        class="btn btn-sm btn-outline-success flex-grow-1 d-block w-75"
                        [disabled]="!rangeValues.value[0] || !rangeValues.value[1]"
                        (click)="
                    getAllSearchRes({
                        searchParam: searchValue,
                    isFeatured: isSponserChecked?sponser:null,
                    minPrice: rangeValues?.value?.[0] ?? null ,
                    maxPrice: rangeValues?.value?.[1] ?? null,
                    categoryID: selectedCategory?.value['id'] ?? null,
                    sortedBy: selectedSort?.value['value'] ?? null,
                    domainID: selectedDomain?.value ?? null,
                    subCatId: selectedSubCategory?.value['id'] ?? null,
                    brandId: selectedBrand?.value ?? null,
                    pageNumber:pageNumber,
                    pageSize:10,

                    })
                "
                    >
                        <p class="d-inline-block m-0 fs-5">Search</p>
                        <i
                            class="pi pi-search"
                            style="font-size: 1.3rem; cursor: pointer"
                        ></i>
                    </button>
                </div>
            </div>
            <p-divider />
            <div class="card">
                <div class="d-flex justify-content-between">
                    <h5>Google Ads</h5>
                </div>
                <div class="p-fluid">
                    <ins
                        class="adsbygoogle"
                        style="display: block"
                        data-ad-client="ca-pub-3940256099942544"
                        data-ad-slot="8320222746"
                        data-ad-format="auto"
                        data-full-width-responsive="true"
                    ></ins>
                    <img
                        src="https://images.raidboxes.io/raidboxes.io/uploads/2021/01/Google-Kampagne-raidboxes.png"
                        alt="Google Ads"
                        class="p-1"
                        style="width: 100%; height: 300px; display: block"
                    />
                </div>
            </div>
        </div>
        <div class="col-10 col-md-9">
            <div class="card">
                <div class="d-flex justify-content-between">
                    <h5>Google Ads</h5>
                </div>
                <div class="p-fluid">
                    <ins
                        class="adsbygoogle"
                        style="display: block"
                        data-ad-client="ca-pub-3940256099942544"
                        data-ad-slot="8320222746"
                        data-ad-format="auto"
                        data-full-width-responsive="true"
                    ></ins>
                    <img
                        src="https://images.raidboxes.io/raidboxes.io/uploads/2021/01/Google-Kampagne-raidboxes.png"
                        alt="Google Ads"
                        class="p-1"
                        style="width: 100%; height: 300px; display: block"
                    />
                </div>
            </div>
            <p class="ms-3 text-decoration-underline">
                <span class="fw-bold fs-5">{{ searchValue }}</span> | results
                from {{ searchResult?.resultPaginated?.length }} stores
            </p>
            @for(item of searchResult?.resultPaginated;track item){
            <div class="search-result p-2 position-relative">
                @defer{

                <i
                    class="pi position-absolute end-0 text-end d-inline-block"
                    [ngClass]="{'pi-heart-fill ': item.isFavorite, 'pi-heart': !item.isFavorite}"
                    (click)="addToFav(item.product_Id,$event)"
                    style="font-size: 1.5rem; top: -15px"
                ></i>

                <div class="row align-items-center g-2 justify-content-between">
                    <div class="col-12 col-md-5 text-center text-md-start">
                        <div
                            class="d-flex align-items-center gap-2 justify-content-between"
                        >
                            <img
                                src="{{ item.productImageDTOs[0]?.image }}"
                                class="img-fluid"
                                style="max-width: 140px"
                                alt=""
                            />

                            <div class="product-info">
                                <p
                                    class="fs-5"
                                    tooltipEvent="hover"
                                    [pTooltip]="item.product_Name_Global"
                                >
                                    {{
                                        item.product_Name_Global | truncate : 10
                                    }}
                                </p>
                                <p-rating
                                    [(ngModel)]="item.averageRating"
                                    readonly="true"
                                    [cancel]="false"
                                />
                                <span class="ps-2 mb-3">{{
                                    item.averageRating | number : "1.0-1"
                                }}</span>
                                <p class="fs-4 text-primary fw-medium">
                                    {{ item.mostMinimumPrice }} SAR
                                </p>
                                <!-- <p class="text-black-50">
                                        from
                                        <span class="fw-bold">{{
                                            item.minPriceBrandName
                                        }}</span>
                                    </p> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="d-flex flex-column align-items-end gap-3">
                            @for(link of item.productLinkDTOs.slice(0,3);track
                            link){
                            <div
                                class="d-flex gap-3 align-items-center justify-content-between"
                            >
                                <img
                                    [src]="link.domainDTO?.logo"
                                    alt=""
                                    width="60px"
                                />
                                <div>
                                    <p
                                        style="font-size: 11px"
                                        class="text-black-50 fw-bold m-0"
                                    >
                                        {{ link.domainDTO.name_Global }}
                                    </p>
                                    <span class="text-primary"
                                        >{{ link.productDet_Price }} SAR</span
                                    >
                                </div>
                                <a
                                    target="_blank"
                                    [href]="link.productLink"
                                    class="btn text-white text-nowrap"
                                    style="background-color: #71bf44"
                                >
                                    Go to Shop
                                    <i
                                        class="pi pi-angle-right"
                                        style="font-size: 1rem"
                                    ></i>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                </div>

                }@placeholder(minimum 1s) {
                <p-skeleton width="100%" height="160px" />

                }@loading {

                <p-skeleton width="100%" height="160px" />
                }
                <p-divider />
            </div>
            }
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [rows]="rows"
                [totalRecords]="searchResult?.numberOfResults"
            />
        </div>
    </div>
</div>
