.container {
  display: block;
  position: relative;
  padding-left: 25px; /* Decreased padding */
  margin-bottom: 10px; /* Decreased margin */
  cursor: pointer;
  font-size: 18px; /* Decreased font size */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Decreased height */
  width: 20px; /* Decreased width */
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 5px; /* Decreased top position */
  left: 5px; /* Decreased left position */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.gender{
  position: relative;
    bottom: 3px;
}

.Login {
  transform: translateY(-20px);
}

.login-link {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.login-link:hover {
  background-color: #0056b3;
}

