<section class="bg-main-light p-4 rounded my-3 mx-auto" style="border: 1px solid #ddd; width: 360px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
  <p class="text-center" style="font-size: 1.25rem; font-weight: bold; margin-bottom: 20px;">Create a new account</p>
  <form [formGroup]="registerForm" class="form-group" (ngSubmit)="handleForm()">

    <div class="row mb-2">
      <div class="col">
        <input formControlName="firstName" type="text" id="firstName" class="form-control" placeholder="First name">
        <div class="alert alert-danger mt-1" *ngIf="registerForm.get('firstName')?.errors && registerForm.get('firstName')?.touched">
          <p *ngIf="registerForm.get('firstName')?.getError('required')">First name is required</p>
          <p *ngIf="registerForm.get('firstName')?.getError('maxLength')">Max length is 20</p>
        </div>
      </div>

      <div class="col">
        <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Last Name">
        <div class="alert alert-danger mt-1" *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched">
          <p *ngIf="registerForm.get('lastName')?.getError('required')">Surname is required</p>
          <p *ngIf="registerForm.get('lastName')?.getError('maxLength')">Max length is 20</p>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <input formControlName="userName" type="text" id="userName" class="form-control" placeholder="userName">
      <div class="alert alert-danger mt-1" *ngIf="registerForm.get('userName')?.errors && (registerForm.get('userName')?.touched || registerForm.get('userName')?.dirty)">
        <p *ngIf="registerForm.get('userName')?.getError('required')">Email is required</p>
        <p *ngIf="registerForm.get('userName')?.getError('userName')">Email is invalid</p>
      </div>
    </div>

    <div class="mb-2">
      <input formControlName="email" type="email" id="email" class="form-control" placeholder=" email address">
      <div class="alert alert-danger mt-1" *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
        <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
        <p *ngIf="registerForm.get('email')?.getError('email')">Email is invalid</p>
      </div>
    </div>

    <div class="mb-2">
      <div class="input-group">
        <input formControlName="password" [type]="show ? 'text' : 'password'" id="password" class="form-control" placeholder="New password">
        <div class="input-group-append">
          <span class="input-group-text" (click)="password()">
            <i class="fa fa-eye" [ngClass]="{'fa-eye-slash': show, 'fa-eye': !show}"></i>
          </span>
        </div>
      </div>
      <div class="alert alert-danger mt-1" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
        <p *ngIf="registerForm.get('password')?.getError('required')">Password is required</p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">Password must be at least 12 characters long and include uppercase, lowercase, digit, and special character</p>
      </div>
    </div>

    <div class="mb-2">
      <label for="dateOfBirth" class="form-label">Date of birth</label>
      <input formControlName="dateOfBirth" type="date" id="dateOfBirth" class="form-control" [max]="minDate">
      <div class="alert alert-danger mt-1" *ngIf="registerForm.get('dateOfBirth')?.errors && registerForm.get('dateOfBirth')?.touched">
        <p *ngIf="registerForm.get('dateOfBirth')?.getError('required')">Date of birth is required</p>
      </div>
    </div>


    <div class="mb-2">
      <label class="form-label">Gender</label>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input formControlName="gender" type="radio" id="female" value="female" class="form-check-input">
            <label for="female" class="form-check-label">Female</label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input formControlName="gender" type="radio" id="male" value="male" class="form-check-input">
            <label for="male" class="form-check-label">Male</label>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>


    <div class="row mb-2">
      <div class="col">
        <label for="country">Country</label>
        <select #countries class="form-control" formControlName="country" (change)="onCountrySelected(countries.value)">
          <option *ngFor="let item of Counteries" [value]="item.name">{{ item.name }}</option>
        </select>
        <div class="alert alert-danger mt-1" *ngIf="registerForm.get('country')?.errors && registerForm.get('country')?.touched">
          <p *ngIf="registerForm.get('country')?.getError('required')">Country is required</p>
        </div>
      </div>
    </div>


    <div class="row mb-2">
      <div class="col">
        <input formControlName="phoneCode" type="tel" id="phoneCode" class="form-control" [value]="countryCode" placeholder="Phone Code">
      </div>
      <div class="col">
        <input formControlName="phoneNumber" type="tel" id="phone" class="form-control" placeholder="Phone">
        <div class="alert alert-danger mt-1" *ngIf="registerForm.get('phoneNumber')?.errors && registerForm.get('phoneNumber')?.touched">
          <p *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">Must be an Egyptian number</p>
        </div>
      </div>
    </div>


    <button type="submit" [disabled]="registerForm.invalid" class="p-2 btn btn-success btn-block" style="display: block; margin: 0 auto; background-color: #42b72a; border-color: #42b72a; color: #fff; padding: 10px 0; font-size: 1rem;">Sign Up</button>
    <p *ngIf="messageError" class="alert alert-danger mt-2 text-center">{{ messageError }}</p>
  </form>

  <div class="text-center mt-3">
    <a routerLink="/login" class="text-decoration-none" style="color: #1877f2;">Already have an account?</a>
  </div>

</section>
