    <div class="container-fluid">
        <div class="row">
            <div class="product-image col-3">
                <img src="https://f.nooncdn.com/p/v1687521109/N53393905A_1.jpg?format=avif&width=240"
                alt="iPhone 15 Pro Max">
            </div>
            <div class="col-9">
                <div class="product-details">
                    <div class="product-info text-start px-3">
                        <h1 class="productName">Apple iPhone 15 Pro Max</h1>
                        <hr class="thick-hr">
                        <div class="text-primary price">
                            <p class=" h6 bestPrice">best price</p>
                            <span>EGP 62999</span>
                            <div class="alert-container d-flex justify-content-start align-items-center">
                                <span class="pe-5">
                                    <i class="fa-regular fa-bell"></i>
                                    <span class="alert-text h5 pt-2 pl-3">Set Alert</span>
                                </span>

                                <span class="px-5">
                                    <i class="fa-regular fa-heart "></i>
                                    <span class="alert-text h5 pt-2 pl-3">Set Favourite</span>
                                </span>
                            </div>
                        </div>
                        <hr class="thick-hr ">

                    </div>
                </div>

                    <div class="row d-flex justify-content-between align-items-end">
                        <div class="col-4 ">
                            <h5>Apple iPhone 15 Pro Max Price</h5>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" width="150px">
                        </div>
                        <div class="col-4 ms-0 ">
                            <div class="text-primary">EGP
                                <span class="fw-bold h3">62999</span>
                            </div>
                            <button class="btn btn-primary">Go to Shop</button>
                        </div>



                    </div>

            </div>
        </div>


    </div>
