<div class="layout-wrapper">
    <!-- <app-header></app-header> -->
    <div class="layout-main-container">
        <div class="layout-main">
            <div class="row">
                <div class="lg:col-3 md:col-12 col-12 m-2">
                    <app-domain></app-domain>
                </div>

                <div class="lg:col-5 md:col-6 col-12 m-2">
                    <p-galleria

                        [(value)]="images"
                        [showIndicators]="true"
                        [changeItemOnIndicatorHover]="true"
                        [showThumbnails]="false"
                        [showItemNavigators]="true"
                        [autoPlay]="true"
                        [circular]="true"
                        [transitionInterval]="3000"
                    >
                        <ng-template pTemplate="item" let-item>
                            <img
                                [src]="item"
                                style="
                                    width: 100%;
                                    height: 300px;
                                    display: block;
                                "
                            />
                        </ng-template>
                    </p-galleria>
                </div>
                <!-- Google Ads Div -->
                <div class="lg:col-3 md:col-6 col-12 m-2 ">
                    <div class="card">
                        <div class="d-flex justify-content-between">
                            <h5>Google Ads</h5>
                        </div>
                        <div class="p-fluid">
                            <ins
                                class="adsbygoogle"
                                style="display: block"
                                data-ad-client="ca-pub-3940256099942544"
                                data-ad-slot="8320222746"
                                data-ad-format="auto"
                                data-full-width-responsive="true"
                            ></ins>
                            <img
                                src="https://images.raidboxes.io/raidboxes.io/uploads/2021/01/Google-Kampagne-raidboxes.png"
                                alt="Google Ads"
                                class="p-1"
                                style="
                                    width: 100%;
                                    height: 300px;
                                    display: block;
                                "
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardd">
                <featured-product></featured-product>
                <br />
                <app-home-product></app-home-product>
                <br />
                <most-popular></most-popular>
                <br />
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>
