<div class="grid p-fluid" [dir]="lang == 'en' ? 'ltr' : 'rtl'">
    <div class="col-12">
        <div class="card">
            <div class="my-2">
                <h1>{{ "TermsAndConditions.Header" | translate }}</h1>
            </div>
            <div class="my-2">
                <h2>
                    {{ "TermsAndConditions.INTRODUCTION.title" | translate }}
                </h2>
                <p
                    [innerHTML]="
                        'TermsAndConditions.INTRODUCTION.content' | translate
                    "
                ></p>
            </div>
            <div class="my-2">
                <h2> {{ "TermsAndConditions.USE_OF_THE_SITE.title" | translate }}</h2>
                <p [innerHTML]="'TermsAndConditions.USE_OF_THE_SITE.content' | translate ">

                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.USER_SUBMISSIONS.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.USER_SUBMISSIONS.content" | translate }}
                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.MERCHANTS.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.MERCHANTS.content" | translate }}
                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.TRADEMARKS_AND_COPYRIGHTS.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.TRADEMARKS_AND_COPYRIGHTS.content" | translate }}
                </p>
            </div>

            <div class="my-2">
                <h2>{{ "TermsAndConditions.APPLICABLE_LAW_AND_JURISDICTION.title" | translate }}</h2>
                <p [innerHTML]="'TermsAndConditions.APPLICABLE_LAW_AND_JURISDICTION.content' | translate ">

                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.ARBITRATION.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.ARBITRATION.content" | translate }}
                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.TERMINATION.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.TERMINATION.content" | translate }}
                </p>
            </div>
            <div class="my-2">
                <h2>{{ "TermsAndConditions.CANCELLATION_REPLACEMENT_POLICY.title" | translate }}</h2>
                <p>
                    {{ "TermsAndConditions.CANCELLATION_REPLACEMENT_POLICY.content" | translate }}
                </p>
            </div>
        </div>
    </div>
</div>
