<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
              <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedBrands()" [disabled]="!selectedBrands.length"></button>
            </div>
          </ng-template>
        </p-toolbar>
        <p-table [value]="brands" dataKey="name_Global" [expandedRowKeys]="expandedRows" responsiveLayout="scroll"
                 *ngIf="!loading" [(selection)]="selectedBrands">
          <ng-template pTemplate="caption">
            <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}"
                    label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem"></th>
              <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="name_Global">Brand Name (Global) <p-sortIcon field="name_Global"></p-sortIcon></th>
              <th pSortableColumn="name_Local">Brand Name (Local) <p-sortIcon field="name_Local"></p-sortIcon></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-brand let-expanded="expanded">
            <tr>
              <td>
                <button type="button" pButton pRipple [pRowToggler]="brand"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>{{brand.id}}</td>
              <td style="min-width: 12rem;">{{brand.name_Global}}</td>
              <td style="min-width: 12rem;">{{brand.name_Local}}</td>
              <td>
                <div class="flex">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBrand(brand)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBrand(brand)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Dialog for adding/editing brand -->
        <p-dialog [(visible)]="brandDialog" [style]="{width: '450px'}" header="Brand Details" [modal]="true" class="p-fluid">
          <ng-template pTemplate="content">
            <div class="field">
              <label for="name_Global">Global Name</label>
              <input type="text" pInputText id="name_Global" [(ngModel)]="brand.name_Global" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !brand.name_Global}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !brand.name_Global">Global Name is required.</small>
            </div>
            <div class="field">
              <label for="name_Local">Local Name</label>
              <input type="text" pInputText id="name_Local" [(ngModel)]="brand.name_Local" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !brand.name_Local}"/>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && !brand.name_Local">Local Name is required.</small>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBrand()"></button>
          </ng-template>
        </p-dialog>

        <!-- Dialog for confirming brand deletion -->
        <p-dialog [(visible)]="deleteBrandDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete <b>{{brand.name_Global}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBrandDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
        </p-dialog>

        <!-- Dialog for confirming multiple brand deletions -->
        <p-dialog [(visible)]="deleteBrandsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete the selected brands?</span>
          </div>
          <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteBrandsDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
        </p-dialog>

      </div>
    </div>
  </div>
