.price{
    color: blue;
    font-size: 1.2rem;
    font-weight: 550;
}


.links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.domain-name {
    flex-grow: 1;
}

.link-row:hover {
    background-color: #f0f0f0;
}
