<div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <h5>Carousel</h5>
            <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-product pTemplate="item">
                    <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                        <div class="my-5">
                            <img [src]="product.images" [alt]="product.productName_Global" class="shadow-4" width="50%" />
                        </div>
                        <div>
                            <h5 class="mb-1">{{product.productName_Global}}</h5>
                            <h6 class="mt-0 mb-3">${{product.minPrice}}</h6>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>
