<div class="grid p-fluid" [dir]="lang == 'en' ? 'ltr' : 'rtl'">
    <div class="col-12">
        <div class="card">
            <div class="my-2">
                <h1>{{ "Privacy.PrivacyPolicy.PrivacyPolicy" | translate }}</h1>
                <p
                    [innerHTML]="
                        'Privacy.PrivacyPolicy.Description' | translate
                    "
                ></p>
            </div>
            <div class="my-2">
                <h2>1. {{ "Privacy.DataCollect.DataCollect" | translate }}</h2>
                <p
                    [innerHTML]="'Privacy.DataCollect.Description' | translate"
                ></p>
            </div>
            <div class="my-2">
                <h3>{{ "Privacy.PersonalInfo.PersonalInfo" | translate }}</h3>
                <p
                    [innerHTML]="'Privacy.PersonalInfo.Description' | translate"
                ></p>
            </div>
            <div class="my-2">
                <h3>{{ "Privacy.Competitions.Competitions" | translate }}</h3>
                <p>
                    {{ "Privacy.Competitions.Description" | translate }}
                </p>
            </div>
            <div class="my-2">
                <h3>{{"Privacy.ThirdParties.ThirdParties" | translate}}</h3>
                <p
                    [innerHTML]="'Privacy.ThirdParties.Description' | translate"
                ></p>
            </div>
            <div class="my-2">
                <h3>{{"Privacy.SocialUsage.SocialMedia" | translate}}</h3>
                <p>
                    {{"Privacy.SocialUsage.Description" | translate}}
                </p>
            </div>
            <div class="my-2">
                <h3>{{"Privacy.SocialDeletion.SocialMedia" | translate}}</h3>
                <p [innerHTML]="'Privacy.SocialDeletion.Description'|translate">

                </p>
            </div>
            <div class="my-2">
                <h2>2. {{"Privacy.Cookies.Cookies" | translate}}</h2>
                <p [innerHTML]="'Privacy.Cookies.Description' | translate">

                </p>
            </div>
            <div class="my-2">
                <h2>3. {{"Privacy.Security.Security" | translate}}</h2>
                <p>
                    {{"Privacy.Security.Description" | translate}}
                </p>
            </div>
            <div class="my-2">
                <h2>4. {{"Privacy.Rights.YourRights" | translate}}</h2>
                <p>
                   {{"Privacy.Rights.Description" | translate}}
                </p>
            </div>
        </div>
    </div>
</div>
